
<div class="row mb-2">
  <div class="col col-sm-12 mt-5">
    <span class="fs-3 ">{{tituloTabla}}</span>
  </div>
</div>


<table class="table table-hover table-bordered">
  <caption>Órdenes de servicios pendientes</caption>
  <thead class="table-dark">
  <tr>
    <th scope="col"># Orden</th>
    <th scope="col">Documento/NIT</th>
    <th scope="col">Cliente</th>
    <th scope="col">Técnico</th>
    <th scope="col">Descripción de la novedad</th>
    <th scope="col">Fecha de orden</th>
    <th scope="col">Estado</th>
    <th *ngIf="mostrarTomar" scope="col" class="text-center"></th>
    <th scope="col" class="text-center"></th>
    <th scope="col" class="text-center"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let servicios of listadoSercicios">
    <td>{{servicios.id_orden}}</td>
    <td>{{servicios.nit}}</td>
    <td>{{servicios.razon_social}}</td>
    <td>{{servicios.nombre_usuario}}</td>
    <td>{{servicios.descripcion_novedad}}</td>
    <td>{{servicios.fecha_creacion}}</td>
    <td><span>{{servicios.nombre_estado}}</span></td>
    <td *ngIf="mostrarTomar"  class="text-center"><a  class="btn btn-outline-success" (click)="tomarOrden(servicios.id_orden)">Tomar orden</a></td>
    <td class="text-center"><a class="btn btn-outline-primary" (click)="verDetalle(servicios)">Detalle</a></td>
    <td class="text-center">
      <a *ngIf="servicios.id_estado !== '3' && servicios.id_estado !== '1'" (click)="finalizarSevicio(servicios)" class="btn btn-outline-danger">Finalizar orden</a>
    </td>
  </tr>
  </tbody>
</table>
