<app-encabezado></app-encabezado>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-7 text-center" style="background-color:#0911CE">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 91vh;">
                <div class="col col-sm-8 pe-5 ps-5">
                    <div class="shadow rounded bg-white p-5">
                        <h1 class="mb-5">Editar usuario</h1>

                       <form
                    >
                        <div class="col col-sm-6 offset-sm-3">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input  type="text" class="form-control text-center" id="nombre">
                            </div>
                        </div>
                        <div class="col col-sm-6 offset-sm-3">
                            <div class="mb-3">
                                <label for="documento" class="form-label">N° de documento</label>
                                <input type="text" class="form-control text-center" id="documento">
                            </div>
                        </div>
                        <div class="col col-sm-6 offset-sm-3 mb-3">
                            <label for="rol" class="form-label">Seleccionar rol</label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1"></option>
                                <option value="2"></option>
                              </select>
                        </div>

                        <div class="col col-sm-6 offset-sm-3 mb-4">
                            <div class="mb-3">
                                <label for="clave" class="form-label">Contraseña</label>
                                <input  type="password" class="form-control text-center" id="clave">
                            </div>

                        </div>

                        <div *ngIf="false" class="alert alert-danger" role="alert">

                          </div>

                        <button type="submit" class="btn btn-primary">Editar Usuario</button>
                       </form>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-5  text-center" >
            <div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
              <div class="row ">
                <div class="col-sm-12"><span style="font-size: 100px;" class="border-bottom fuenteGeneral">GES</span></div>
                <div class="col-sm-12"><span class=" fuenteGeneral">Gestión de servicios</span></div>
              </div>
            </div>

        </div>
    </div>
</div>
