<app-encabezado></app-encabezado>
<div class="container">

  <div class="row mt-3">
    <div class="btn-group">
      <a  class="btn btn-outline-primary" (click)="mostrarPendientes()">Ordenes pendientes</a>
      <a  class="btn btn-outline-success" (click)="mostrarEnProceso()">Ordenes en proceso</a>
      <a  class="btn btn-outline-secondary" (click)="mostrarFinalizadas()">Ordenes finalizadas</a>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12">
      <app-tabla-orden-servicio [tipoTabla]="tipoTablaMostrar"></app-tabla-orden-servicio>
    </div>
  </div>

</div>


